
@import "index.css";

main table {
	margin: 20px 0 40px;
}

main table thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

main table td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

main table tr td:first-child {
	font-weight: bold;
}