
header {
	background: #BBBBBB;
	padding: 20px 0 30px 0;
}

.caixa {
	display: inline-block;
	position: relative;
	width: 75%;
	margin: 0 auto;
}

.selecao {
	float: right;
	margin-top: 0.75%;
	margin-right: 20%;
	margin-bottom: 3%;
	border: 2px solid gray;
	border-radius: 6px;
}

.selecao-header {
	padding: 2px;
}

.selecao-main {
	padding: 8px;
	background-color: #BBBBBB;
	border-color: gray;
}

.selecao-main h1 {
	font-size: 24px;
	font-weight: bold;
	color: white;
}

header h1 {
	font-size: 28px;
	font-weight: bold;
	margin-left: 16px;
}

nav {
	position: absolute;
	top: 2px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

main {
	margin: 5% 28%;
}

main h2 {
	font-size: 22px;
}

.redes {
	float: right;
	margin-top: 3%;
	margin-right: 20%;
	margin-bottom: 3%;
	border: 2px solid gray;
	border-radius: 6px;
	padding: 10px;
	color: white;
	font-weight: bold;
}

.redes a {
  color: #C78C19;
  text-decoration: none;
}

.redes a:hover {
  text-decoration: underline;
}

.redes-main {
	font-size: 18px;
	background-color: #BBBBBB;
}

.redes div {
	text-align: center;
	padding-left: 3px;
	padding-top: 10px;
    padding-bottom: 8px;
    margin-bottom: 8px;
	border: 2px solid rgb(230, 234, 225);
	border-radius: 5px;
}

footer {
	position: fixed;
	text-align: center;
	background: #BBBBBB;
	padding: 40px 0;
	bottom: 0;
	width: 100%;
}

.copyright {
	#color: #FFFFFF;
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}
