
@import "index.css";

main {
	margin: unset;
}

main h2 {
	font-size: unset;
}

.projetos {
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
}

.projetos a li {
	display: inline-block;
	text-align: center;
	width: 28%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.projetos a li:hover {
	border-color: #C78C19;
}

.projetos a li:active {
	border-color: #088C19;
}

.projetos a li:hover h2 {
	font-size: 32px;
}

.projetos h2 {
	font-size: 25px;
	font-weight: bold;
}

.projeto-descricao {
	font-size: 18px;
}

